@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.flex-container{
    height: 400px;
    width: 800px;
    margin: 50px auto;
    background-image: url(./photo-1515378960530-7c0da6231fb1.avif);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.child{
    height: 70px;
    width: 100px;
    background-color: white;
    margin: 10px 5px;

}
.content{
    color: white;
}
.btn{
    border: none;
    border-radius: 16px;
    font-size: 14px;
    padding: 10px 12px;
    background-color: black;
    color: white;
}
.heading{
    font-size: 40px;
}
.text{
    font-size: 20px;
}
.h1{
    height: 40px;
}
.h2{
    height: 50px;
}
h3{
    height: 60px;
}
