@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.card{
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    flex-grow: 1;
}
.card-img{
    width: 100%;
    border-radius: 16px ;
}
.btn{
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
@media (min-width:576px) {
    .flex-container{
        display: flex;
    }
    
}
@media (max-width:767px) {
    .flex-container{
        display: flex;
        flex-wrap: wrap;
    }
    
}